:root {
  --16px: 1.1vw;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
}

/* ESTILOS GLOBAIS */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.texto-500 {
  font-weight: 500;
}

.texto-azul {
  color: #0e2858;
}

.texto-cinza {
  color: #6d7271;
}

.mini-imagens {
  width: 1.5vw;
  height: auto;
}

.imagem-media {
  width: 2vw;
  height: auto;
}

.imagem-grande {
  width: 4vw;
  height: auto;
}

ul li {
  list-style: none;
}

.modal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  border: 2px solid #1c4ecb;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  max-height: 95vh;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  position: relative;
}

body .modal-header {
  display: flex;
  gap: 0.5%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: linear-gradient(
      180deg,
      #1c4dcb00 0%,
      #4595df 3.12%,
      #2e54b6b5 14.06%,
      #2f61b5eb 83.33%,
      #2057a9 100%
    ),
    #126ad1;
  margin: 0;
  padding: 0 0 0 5px;
}

.modal-header img {
  width: 2%;
  height: fit-content;
}

.modal-header h4 {
  font-family: "Fira Sans", sans-serif;
  color: white;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: var(--16px);
}

.header-botoes {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-right: 8px;
  justify-content: flex-end;
}

.header-botoes a {
  width: 4.5%;
  height: 4.5%;
}

.modal-header .header-botoes img {
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  margin-top: 2px;
}

/* DESKTOP */
#desktop {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #c6c6c6;
  width: 100%;
  height: 95vh;
  background-image: url(https://images2.alphacoders.com/941/thumb-1920-941898.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
}

.td {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.td div {
  text-align: center;
  font-size: 1.04vw;
}

#desktop p {
  color: #ffffff;
  -webkit-text-stroke: 0.3px #000;
  text-shadow: 1px 1px 1.5px #000000;
}

#desktop img {
  width: 60%;
}

/* BARRA DE TAREFAS */
#barraDeTarefas {
  box-sizing: border-box;
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: #024088;
  background: linear-gradient(
      180deg,
      #1c4dcb00 0%,
      #4595df 3.12%,
      #2e54b6b5 14.06%,
      #2f61b5eb 83.33%,
      #2057a9 100%
    ),
    #126ad1;
  box-shadow: inset -2px 0px 3px #00000032;
}

#menu-iniciar {
  height: 5vh;
  width: 8vw;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background-color: #108605;
  background: radial-gradient(
      46.58% 430.9% at 46.58% 50%,
      #14ff0024 0%,
      #04551b33 100%
    ),
    linear-gradient(
      180deg,
      #5bc729 6.77%,
      #006b2bd8 13.54%,
      #1cad10 84.37%,
      #1e7807 100%
    ),
    #2cc21f;
  box-shadow: inset -1px 0px 4px #04420cc2;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
}

#menu-iniciar-start {
  margin-left: 10%;
  width: 75%;
}

#barra-lateral {
  display: flex;
  position: absolute;
  height: 5vh;
  right: 0;
  width: 10%;
  bottom: 0;
  background-color: #67e4ff;
  background: linear-gradient(
      180deg,
      #5fd8f2 6.77%,
      #0087c1b5 17.19%,
      #0e88bdd2 80.73%,
      #1882af 100%
    ),
    #67e4ff;
  box-shadow: inset 2px 0px 1px #cef3ed3f;
  align-items: center;
  justify-content: space-around;
}

#icone-som {
  width: 1.7vw;
  margin-top: 0.4vw;
}

#hora {
  color: #ffffff;
  font-size: 1.095vw;
}

/* API GATOS */
#modal-imagens {
  box-sizing: border-box;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  justify-content: center;
  border-top: none;
}

#modal-imagens .img-gato {
  margin: 0 auto;
  padding: 0;
  height: 94.8%;
}

#imagens-api-gato {
  height: 100%;
  margin: 0;
}

/* MENU */
#menu {
  box-sizing: border-box;
  width: 30vw;
  height: 85vh;
  bottom: 5vh;
  border-width: 0px 3px;
  background-color: #7195c2;
  top: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu #menu-header {
  height: 13%;
  background: linear-gradient(
      180deg,
      #1c4dcb00 0%,
      #63b1fa 3.12%,
      #3b61bfb6 7.29%,
      #3a5fbeb5 27.6%,
      #4680f1eb 73.96%,
      #4791ff 100%
    ),
    #126ad1;
  box-shadow: inset -1px 0px 3px #00000051;
}

#usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  padding: 0.5vw 0.7vw;
}

#usuario-perfil {
  width: 13%;
  margin-top: 1%;
}

#usuario-nome {
  font-size: 1.6vw;
  text-shadow: 0 2px 4px #00000055;
}

#menu #menu-footer {
  display: flex;
  justify-content: end;
  height: 8%;
  background: linear-gradient(0deg, #00000033, #00000033),
    linear-gradient(180deg, #45a2f8 0%, #1165d3 92.71%);
  border-top: 1px solid #063e8b;
  box-shadow: inset 0px -1px 5px #0000003f;
}

#menu-footer a {
  display: flex;
  align-items: center;
  padding: 1% 3%;
  gap: 4px;
}

#menu-footer a p {
  color: #ffffff;
  font-size: 0.9vw;
}

#menu-footer a img {
  height: 80%;
  width: auto;
}

.lista-programas {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  font-family: "Noto Sans", sans-serif;
}

#menu span {
  display: block;
  width: 90%;
  height: 1px;
  margin: 10px auto;
}

#menu-lado-1 span {
  background-color: #dadadac0;
}

#menu-lado-2 span {
  background-color: #124ea128;
}

#menu-lado-2 {
  background-color: #d3e5fb;
  padding: 8px;
}

#menu-lado-1 {
  background-color: #ffffff;
  padding: 8px;
}

.menu-item {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-bottom: 3px;
  cursor: pointer;
  padding: 2px;
}

.menu-item:hover {
  background-color: #2f71cd;
  color: #eff3ff;
}

.menu-item h6 {
  font-size: 0.85vw;
}

#menu-lado-2 .menu-item-img,
#menu-lado-1 .menu-item-img:last-child {
  width: 14%;
}

#menu-lado-1 .menu-item-img {
  width: 18%;
}

#todos-os-programas {
  justify-content: center;
  gap: 5%;
}

/* PONG */
#pong {
  margin: 0 auto;
  margin-top: 10%;
  width: 604px;
  height: calc(404px + 5vh)
}

#pong .modal-header {
  width: 99.2%;
}

#pong .modal-header img {
  width: 100%;
  height: fit-content;
}

#pong #pong-logo,
#paint #paint-logo,
#calculadora-icone {
  width: 4vh;
}

#pong .header-botoes a {
  width: 10%;
  height: auto;
}

#pong .modal-header .header-botoes a:nth-child(2) img,
#paint .modal-header .header-botoes a:nth-child(2) img,
#calculadora .modal-header .header-botoes a:nth-child(2) img {
  border: 1px solid #7da4bb;
  pointer-events: none;
}

/* PAINT */
#paint {
  margin-left: 15%;
  width: 695px;
  height: 462px;
  margin-top: 3%;
}

#paint .header-botoes a {
  width: 1.6vw;
}

#paint .modal-header {
  width: 99.3%;
}

/* MODAL - MEU COMPUTADOR */
#meu-computador {
  height: 95vh;
}

#navegacao {
  display: flex;
  align-items: center;
  background-color: #f1efe1;
  border-bottom: 2px solid #deded2;
  padding: 1vh;
  gap: 1px;
  height: 3.5vh;
}

#meu-computador #navegacao li {
  padding: 0 0.5vw;
}

#navegacao li:nth-child(5),
#navegacao li:nth-child(7) {
  border-right: 2px solid #deded2;
  padding-right: 8px;
}

#meu-computador li {
  cursor: pointer;
  padding: 0.456vw 0.999vw;
}

#meu-computador .atalhos-sections li.atalhos-header {
  padding: 0.25vw 10px;
}

#meu-pc-endereco {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1efe1;
  padding: 0.1vw;
  height: 4.5vh;
}

#endereco-link {
  display: flex;
  gap: 3px;
  width: 85%;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid gray;
  text-align: center;
  line-height: 1.5;
  font-size: var(--16px);
}

#endereco-link p::before {
  content: "";
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(img/Monitor.ico);
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 3px;
  margin-right: 4px;
}

#endereco-ir {
  text-align: center;
  line-height: 2.3;
  cursor: pointer;
  margin-right: 7px;
  font-size: var(--16px);
}

#endereco-ir p::before {
  content: "";
  width: 2vw;
  height: 2vw;
  background-image: url(img/Go.png);
  background-size: cover;
  position: relative;
  display: inline-block;
  margin-right: 7px;
  top: 6px;
}

#meu-pc-grid {
  display: grid;
  grid-template-columns: 1fr 3.3fr;
  height: 100%;
}

#meu-pc-grid h2 {
  font-size: 1.07vw;
  line-height: 1.5;
}

#meu-pc-grid-1 {
  background: linear-gradient(180deg, #7ba0ed 28.98%, #6476d5 100%);
  color: #0e2858;
  display: flex;
  flex-direction: column;
}

#meu-pc-grid-2 {
  background-color: #ffffff;
  height: 75vh;
}
#meu-pc-grid-2 p {
  font-size: var(--16px);
}

.atalhos-sections {
  background-color: #d7def8;
  width: 90%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
}
.atalhos-sections:last-child {
  margin-bottom: 5%;
}
.atalhos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(90deg, #fefbf5 60.42%, #c2cdf8 100%);
}

.atalhos-pastas {
  display: flex;
  gap: 2%;
  width: 90%;
  align-items: center;
}

.atalhos-sections li p {
  font-size: 1.07vw;
}

.topicos-header {
  border-bottom: 2px solid #5c84eb;
  border-image: linear-gradient(
    90deg,
    #5c84eb73 6.25%,
    #78cfeaa8 26.56%,
    #d9d9d900 100%,
    #e5e7e9 100%
  );
  border-image-slice: 1;
  width: 40%;
  padding: 2px 2px 2px 15px;
}

.meu-pc-topicos {
  display: grid;
  grid-template-columns: 25vw 25vw;
}

.meu-pc-itens {
  display: flex;
  margin: 3.5vh;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

.caixa-barra {
  display: flex;
  height: 3vh;
  min-width: 13%;
  align-items: center;
  position: absolute;
  left: 9vw;
  padding: 2px 5px;
  gap: 5px;
  bottom: 0.4vh;
  color: #ffffff;
  border: 0.1vw solid #0e2858;
  border-radius: 3%;
  background-color: #124988e8;
}

.caixa-barra p {
  font-size: var(--16px);
}

.caixa-barra img {
  height: 3vh;
}

/* IFRAMES */
#chrome iframe {
  height: calc(100% - 5vh - 4px);
  width: calc(100% - 4px);
}

#calculadora iframe {
  width: 240px;
  height: 316px;
}

#paint iframe {
  height: 425px;
  width: 690px;
}

/* CALCULADORA */
#calculadora {
  width: 244px;
  height: calc(320px + 5vh) ;
  margin-top: 7%;
  margin-left: 57%;
}
#calculadora .header-botoes img {
  margin-left: 3px;
}

#calculadora .header-botoes a {
  width: 1.6vw;
}

#calculadora .modal-header {
  width: 98%;
}

#calculadora .modal-header img {
  width: 1.6vw;
  height: 1.6vw;
  
}